*{
    /*reset das margens e do padding do navegador*/
    margin:0;
    padding:0;
     /*altera a familia de fontes do elemento*/ 
    font-family:"Monteserrat", Arial,Helvetica, sans-serif
}
h1,h2,h3{
    color: #333;
}
p {
    color: #70747A

}
.navbar-container {
    /*largura*/
    width: 100%;
    /*altura*/
    height: 80px;
    /*fundo*/
    background-color: #232a31;
    /*em= representa uma vez o tamanho da fonte definida no elemento pai. Ex: só  no pai foi definida fonyte de 10px e o filhoi tem 1em, o tamanho do filho será de 10px e assim por diante. Caso o pai não tenha um tamanho definido ele irá usar como base 16px que é a fonte do navegador*/
    padding: 0 2em;
    /*Impede que a propriedade padding faça o elemento crescer de tamannho. Ex: se um padding for usado em um elemento de 200px de largura e 200px de altura aumento de tamanho do elemento. Quando usamos o box-sizing:border-box; esse aumento de tamanho não irá acontecer pois o espaço do padding será descontado do elemento pai.*/
    box-sizing: border-box;
    position: relative;
}
.logo{
    width: 50px;
    margin-top: 15px;
}

nav {
    position:relative;
}

.navbar-items {
    position: absolute;
    list-style: none; /*retira os marcadores da lista */
    display:inline-block; /*mudar de bloco para linha. Display altera o comportamento dos elementos na tela. Exemplo, converte um elemento de bloco para um elemento de linha, e um elemento de linha p/ um elemento de bloco. Assim, como também permite definir um elemento como flexivel usando o display:flex.*/
    margin: 0; /*coordenada que só é possível a utilização quando se tem um elemento difinido como position:absolute*/
    right: 0;
    height: 80px;
    line-height: 80px; 
    /*line-height altera o espaço entre as linhas de texto. Quando se usa um line-height da mesma altura que o elemento ele acaba por centralizar o texto na vertical.*/
   list-style:none;
}
.navbar-items li {
    display:inline-block;
    text-transform: uppercase; 
    /*text-transform:uppercase transforma todo o texto em caixa alta (letras maiuscula)*/
    margin-left: 25px;
}


.navbar-items li a{
    color:#fff;
    text-decoration: none; /*none serve para retirar o qualquer elemento. Text-decoration: none retira o estilo underline do link.*/
    transition: .5s; /*vem antes de aplicar o hover. ADefine em quanto tempo a animação do hover irá acontecer.*/
}

.navbar-items li a:hover /*Hover representa o passar do mouse sobre o elelemento.*/{
    color: #ccc;
}

.default-btn{
    background-color: #2cc76a;
    padding: 15px 20px;
    border-radius: 5px;
    /*border-radius arredponda as bordas do elemento*/
}
/*Incio do main*/
 .main-banner {
     /*define uma imagem para o fundo do elemento*/
     background-image: url('../img/mainbanner.png');
     /*define como a imgaem irá se adaptar ao elemento onde ela foi inserida. O valor cover define que a imagem terá o menor tamanho possivel, fazendo assim que ela consiga caber dentro do elemento*/
     background-size:cover;
     /*define se a imagem irá se repetir ou não. Ex: irá se reptir tanto no eixo x quanto no y, reapet-x: irá se repetir somente no eixo x, repeat-y: irá se repetir somento no eixo y e no-reapet define quea imagem não irá sde repetir*/
     background-repeat: no-repeat;
     /*defiencomo a imagem será ixibida dentro do eleemnto nde ela foi inserida. Ex: nesse caso define que a imagem será posicionada a partir do seu centro no elemento onde ela estiver. */
     background-position: center;
     padding: 10em 0;
     position: relative;
    text-align: center;

 }
 .main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

/* especialidades */

.specialties-container {
    padding: 5em 0;
}

.specialties-container ul {
    display: flex;
    /* flex-direction: row; e flex-wrap: nowrap; mesmo não estando presente estará como padrão na página*/
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.specialties-container ul li {
    flex: 1 1 200px;
    text-align: center;
    padding: 20px;
}

.fa-solid {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-halved {
    color: #2cc76a
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #EF8F29;
}

.specialties-container ul li h3 {
    margin-bottom: 25px;
    color: #333;
}

.specialties-container ul li p {
    /* espaçamento entre as linhas */
    line-height: 24px;
    color: #70747a;
}

/* preços */

.pricing-container {
    padding-bottom: 5em;
    text-align: center;
}

.pricing-container h2 {
    font-size: 50px;
    margin-top: 0px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
   /*space-between: aplica espaçamento entre os elementos filhos. Esse espaççamento irá depender de qaunto espaço vazio resta no elemento pai.*/
   /*space-around: faz o mesmo que o space-between com a única diferença que também será colocado espaçamento nas margens esquerda e direta.*/
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.plans-container .plan {
    width: 300px;
    margin: 0 20px;
}
.plans-container .plan ul{
    list-style: none;
    padding: 0;

}

.plan li{
    height: 70px;
    background-color: #e8e9ea;
    color: #333;
    line-height: 70px;
}
 .plan .price{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #2cc76a;
    color: #fff;
    text-align: center;
    line-height: 140px;
    font-size: 25px;
    position: relative;
    margin: 0 auto;
    top: 40PX;
 }
 
 .plan .plan-name{
     text-transform: uppercase;
     font-size: 25px;
     padding-top:50px;
     padding-bottom: 20px;
     background-color: #202b34;
     color: #FFF;
     font-weight: bold;

 }

 .plan .plan-btn{
     background-color: #2cc76a;
     color:#FFF;
     font-size: 25px;
     height: 75px;
     line-height: 75px;
     /*aparece o "mãozinha" sem o link*/
     cursor:pointer;
 }

 .plan .recommended{
     background-color:#0000FF;
 }

.searchdomain-container{
    background-color: #34454e;
    text-align: center;
    padding: 5em 0;

}

.searchdomain-container h2{
    color: #FFF;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 15px;
}

